/* ALDERMAN MAP STYLING */

h5 {
    margin-top: 30px;
}

h6 {
    color: #6495ed;
    margin-top: 15px;
    margin-bottom: 0px;
}

#content-info {
    text-align: left;
    padding-top: 10px;
    padding-left: 60px;
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

#map {
    height: 500px;
    /* The height is 400 pixels */
    width: 600px;
    /* The width is the width of the web page */
    border: 2px solid black;
}