
.container {
    justify-content: center;  
}

.d-block {
    height: 350px;
    width: auto;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}
.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: lightblue;
}
.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: lightblue;
}

.button-stars {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

#stars {
    justify-content: center;
    float: none;
    margin: 0 auto;
}