.container {
    justify-content: center;  
}

.d-block {
    height: 350px;
    width: auto;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}
.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: lightblue;
}
.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: lightblue;
}

.carousel-caption {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 15px;
    margin: 0;
}

.carousel-item {
    padding: -5px;
}

.container {
    justify-content: center;
    float: none;
    margin: 0 auto;
}

.button-stars {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

#education-div {
    text-align: center;
    float: none;
    
}

/* #stars {
    justify-content: center;
    float: none;
    margin: 0 auto;
} */