/* Dropdown menu */
#btnGroupDrop1 {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.dropdown-toggle {
    margin-top: 15px;
    padding: 25px;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#title-test {
    text-align: center;
    font-family: 'PT Serif Caption', serif;
    font-style: italic;
    font-size: 35px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#alderman-choice {
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
}