/* Dropdown menu */
#btnGroupDrop1 {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#dropdownMenuButton {
    text-align: center;
    margin-top: 15px;
    padding: 25px;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#title-test {
    text-align: center;
    font-family: 'PT Serif Caption', serif;
    font-style: italic;
    font-size: 35px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#review{
    font-weight: bold;
}

#a_name {
    font-size: 25px;
    font-style: italic;
}
#questions {
    text-align: center; 
}
